# TENDERLINK Example Environment Variables
# Create a copy of this file named ".env" and fill in the actual values.
# NEVER commit the actual .env file to version control (like GitHub).

# django key - generate a new one using:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=Replace_With_A_Long_Random_String_For_Production

# Set to False in production
DEBUG=False

# Your domains separated by commas without spaces
ALLOWED_HOSTS=127.0.0.1,localhost,your-live-domain.com

# SSL/Security Settings (Applied when DEBUG=False)
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000

# PostgreSQL Database config
DB_NAME=tenderlink_db
DB_USER=postgres
DB_PASSWORD=YourSecureProductionPassword
DB_HOST=localhost
DB_PORT=5432
